.no_bold {
    font-weight: normal !important;
}

.tengah_md {
    text-align: center;
    vertical-align: middle !important;
}

.currency {
    text-align: right;
}

.number-only {
    text-align: center;
}

/*B: Fixing Datatable Group */
/*table.dataTable tr.dtrg-group td {
    background-color: #e0e0e0 !important;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    font-weight: 700 !important;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td, table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f0f0f0 !important;
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
    padding-left: 2em !important;
    font-size: 0.9em !important;
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f3f3f3 !important;
}*/
/*E: Fixing Datatable Group */

/* Border merah ketika form error di select2 */
.was-validated .form-select:invalid~.select2 .select2-selection {
    border-color: #f8285a !important;
}
.form-select.border-danger ~ .select2 .select2-selection {
    border-color: #f8285a !important;
}

.bb-red {
    border-bottom: 2px solid red !important;
}

.app-content {
    background: #EDEAE5!important;
}

.pagination {
    --bs-pagination-active-bg: #1E2129;
    --bs-pagination-hover-color: none;
}

.dtr-control::before {
    content: none;
}

/*.select2-hidden-accessible {
    position: relative !important;
}*/

/*.bg-tele {
    background: #2481cc;
    background: #112770;
}

.text-tele {
    color: #2481cc;
}*/